.navbar {
  margin-bottom: 0;
}

.btn {
  border-radius: 0;
}

.btn.focus, .btn:focus, .btn:hover {
  color: #00000000;
  text-decoration: none;
  background-color: #00000000;
  border: none;
}

.btn {
  font-family: 'Roboto';
  font-weight: 400;
}

